<!DOCTYPE html>
<html>
<head>
  <title>Sakila Dashboard</title>
</head>
<body>
  <h1>Movie Metrics</h1>
  <p>Number of films: <%= filmsCount %></p>
  <p>Number of customers: <%= customersCount %></p>
</body>
</html>
