<!DOCTYPE html>
<html>
  <head>
    <title>Sakila API Metrics</title>
  </head>
  <body>
    <h1>Welcome to Movie Magic</h1>
    <p>Here are the available routes:</p>
    <ul>
      <li><a href="/films">films</a></li>
      <li><a href="/actors">actors</a></li>
      <li><a href="/categories">categories</a></li>
      <li><a href="/customers">customers</a></li>
      <li><a href="/employees">employees</a></li>
      <li><a href="/inventory">inventory</a></li>
      <li><a href="/languages">languages</a></li>
      <li><a href="/payment">payment</a></li>
      <li><a href="/rental">rental</a></li>
      <li><a href="/staff">staff</a></li>
      <li><a href="/store">store</a></li>
    </ul>
  </body>
</html>
